{% extends 'template/main.twig' %}

{% block content %}


		<!----- LOGIN ---->

		<div class="full-width">

		<section class="box-type">

			<div class="registration page">
				<h2>Forgot Password</h2>

				<form class="forgotpass" >
				  <div class="form-group">
				    <label for="emailForm">Enter Email</label>
				    <input type="email" class="form-control" id="emailForm" aria-describedby="emailHelp" >
				  </div>

				  <button type="submit" class="btn signin">Reset</button>

									
				</form>
			</div>
		</section>
		</div>		
		
		<!----- END LOGIN PANEL ----->

{% endblock %}