{% extends 'template/main.twig' %}

{% block content %}


		
		<!----- SHOW PANEL ---->
		<div class="full-width">
		<section class="container">
			<div class="registration-2 page">
				<h2>What are you fan of?</h2>
				<h3>Choose 3 so we can customize ovo for you.</h3>


	

				<div class="container">

					<div class="card-container">
						<div class="cards sixteenByNine breaks-5-4-3-2-1">
							<div class="rows">
								<div class="card">
									<div class="img">
										<img src="/includes/images/channels/box1.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/channels/box2.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/channels/box3.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/channels/box4.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/channels/box5.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/radios/foxhit1019-logo_horiz-on-white.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/radios/hit105_horizontal_on-white.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/radios/hit1009hobart_horizontal-on-white.png" alt="">
									</div>
								</div><div class="card">
									<div class="img">
										<img src="/includes/images/radios/Tile-Hit-1035-Cairns-Lowres.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<a href="/" class="btn">Register</a>

			</div>
		</section>
		</div>		
		
		<!----- END SHOW PANEL ---->

{% endblock %}