{% extends 'template/main.twig' %}

{% block content %}


		
		<!----- SHOW PANEL ---->
		<div class="full-width">
		<section class="box-type">
			<div class="registration page">
				
				<div class="register-logo">
					<img src="/includes/images/logo/logo.svg" alt="OVO">
					<p>#ForTheFans</p>
				</div>

				<div class="register-buttons">
					<a href="/register.html" class="reg-email reg-btn em">Register with Email</a>
					<a href="/register.html" class="reg-facebook reg-btn fb"><i class="fab fa-facebook-square"></i> Register with Facebook</a>

					<a class="signin" href="signin.html">Already have an account? Sign in here.</a>
				</div>


			</div>
		</section>
		</div>		
		
		<!----- END SHOW PANEL ----->

{% endblock %}