{% extends 'template/main.twig' %}

{% block content %}


		
		
		<!----- SHOW PANEL ---->
		<section class="container">
			<h2>Live Radio</h2>
			<div class="cards breaks-5-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow square"><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
							>
						</a>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">2DAY hit104.1</div>
						<div class="meta">
						</div>										
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/foxhit1019-logo_horiz-on-white.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">Fox hit 101.9</div>
						<div class="meta">
						</div>										
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/hit1009hobart_horizontal-on-white.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">hit 100.9</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/hit107_horizontal_on-white.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">hit 107</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/hit929_horizontal_on-white.png" alt="sample poster"
							>
							
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">hit 92.9</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/Tile-Hit-953-Albany-Lowres.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">Hit 95.3</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/Tile-Hit-1035-Cairns-Lowres.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">Hit 103.5</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/Tile-Hit-979-Kalgoorlie-Lowres.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">hit 97.9 Kalgoorlie</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/radio.html" data-router onclick='link(event);' >
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/radios/Tile-Hit-979-Tablelands-Lowres.png" alt="sample poster"
							>
						</a>
					</div>
					<div class="info">
						<div class="subtitle">Radio</div>
						<div class="title lines-2">hit 97.9 Tablelands</div>
						<div class="meta">
						</div>	
					</div>
				</div><!--
			--></div>
		</section>		
		
		<!----- END SHOW PANEL ----->

{% endblock %}