{% extends 'template/main.twig' %}

{% block content %}


		
		<!----- SHOW PANEL ---->
		<section id="show" class="two-col-panel show-synopsis">
			<div class="col2-panel sixteenByNine"><!--
				--><div class="left-col">
					<div class="cards sixteenByNine info-overlay">
						<div class="card">
							<a id="play-video">
								<div class="img">
									<img src="/includes/images/radios/single/banner.png" alt="poster">
									<div class="btn-overlay">
										<i class="fas fa-play-circle"></i>
									</div>
									
									<div class="label label-left">Radio</div>
								</div>
							</a>
							<div class="player-container"></div>
							
							<div class="info">
								<div class="tx">Radio</div>
								<div class="title">Hit 92.9 Perth</div>
								<div class="action">
									<a id="play-video2">Play Radio <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div><!--
				--><div class="list-panel right-col">
					<div class="title-bar">
						<div class="heading">Other Radios<span class="count count-right">5</span></div>
					</div>
					<div class="list img-full sixteenByNine">
						<div class="episode-list card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide">
									<div class="img">
										<a href="/#" data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">Radio</div>
										<div class="title">Hit 95.3 Albany</div>									
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/#" data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">Radio</div>
										<div class="title">2DAY Hit 104.1 Sydney</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/#" data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">Radio</div>
										<div class="title">Hit 103.5 Cairns</div>
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/#" data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
											>
											
										</a>
									</div>
									<div class="info">
										<div class="subtitle">Series 1</div>
										<div class="title">Movie 4</div>
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/#" data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/radios/2dayhit1041_horizontal-on-white.png" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">Series 1</div>
										<div class="title">Movie 5</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bar">
						<div id="episodelist-panel-prev" class="previous">
							<i class="fal fa-arrow-up" aria-hidden="true"></i>
						</div>
						<div id="episodelist-panel-next" class="next ">
							<i class="fal fa-arrow-down" aria-hidden="true"></i>
						</div>
					</div>			
				</div><!--
			--></div>
			<div class="synopsis">
				<div class="noClick left-col">
					<div class="row">
						<h2 >Radio Information</h2>
						<div class="col-left">
							<div class="desciption">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							</div>
						</div>
					</div>
				</div>
				<div class="right-col">
					<div class="row">
					</div>
				</div>
			</div>
		</section>
		
		
		<!----- END SHOW PANEL ----->

{% endblock %}