 <div class="footer__container">
    <div class="footer__info">
        <a href="/" class="footer__logo visible-lg"></a>
        <p>#ForTheFans</p>
        <div class="footer__copyright">Copyright &copy; 2018 OVO Mobile. </div>
        <div class="footer__copyright">ABN 84 168 943 986. All rights reserved.</div>
    </div>
    <div class="footer__navigation">
        <div class="footer__navigation--col-half">
            <ul class="footer__navigation--col-1">
            </ul>
        </div>
        <div class="footer__navigation--col-half">
            <ul class="footer__navigation--col-3">
                <li class="footer__navigation-item"><a href="/" class="footer__navigation-link">Home</a></li>   
                <li class="footer__navigation-item"><a href="/channels.html" class="footer__navigation-link">Channels</a></li>   
                <li class="footer__navigation-item"><a href="/radios.html" class="footer__navigation-link">Radio</a></li>   
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Categories</a></li>   
                <li class="footer__navigation-item"><a href="/events.html" class="footer__navigation-link">Upcoming Events</a></li>   
            </ul>
            <ul class="footer__navigation--col-4">
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Motorsports</a></li>
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Gymnastics</a></li>
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Water Polo</a></li>
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Sports</a></li>
                <li class="footer__navigation-item"><a href="/categories.html" class="footer__navigation-link">Music</a></li>
            </ul>
        </div>
    </div>
</div> 