{% extends 'template/main.twig' %}

{% block content %}


		
		<section class="container slider">
				<div class="headSlider">
					<div class="headText">
							<h2>World Superbikes</h2>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="cards breaks-6-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
					<div class="card-slider c1-slider">
						<div class="swiper-wrapper">
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>										
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>										
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
										
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
						</div>
						<div class="previous c1-prev">
							<i class="fal fa-angle-left"></i>
						</div>
						<div class="next c1-next">
							<i class="fal fa-angle-right"></i>
						</div>
						<div class="card-pagination">
							<div class="pagination c1-pagination"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="container slider">

				<div class="headSlider">
					<div class="headText">
							<h2>Supabarn</h2>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="cards breaks-6-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
					<div class="card-slider c2-slider">
						<div class="swiper-wrapper">
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>										
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>										
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
										
									</a>
									<div class="progress">
										<div class="progress-bar"></div>
									</div>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
							<div class="card swiper-slide">
								<div class="img">
									<a href="/on-demand.html" onclick='link(event);' data-router>
										<img class="b-lazy"
											src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
											data-src="/includes/images/toppicks.jpg" alt="sample poster"
										>
									</a>
								</div>
								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Racing Tournaments 2018</div>
									<div class="meta">
										<dl>          
										    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
										    <dd>140mins</dd>
										</dl>
									</div>	
								</div>
							</div>
						</div>
						<div class="previous c2-prev">
							<i class="fal fa-angle-left"></i>
						</div>
						<div class="next c2-next">
							<i class="fal fa-angle-right"></i>
						</div>
						<div class="card-pagination">
							<div class="pagination c2-pagination"></div>
						</div>
					</div>
				</div>
			</section>



			<section class="container slider">


					<div class="headSlider">
						<div class="headText">
							<h2>Forumula Drift</h2>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="cards breaks-6-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
						<div class="card-slider c3-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>										
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>										
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
											
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
							</div>
							<div class="previous c3-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next c3-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination c3-pagination"></div>
							</div>
						</div>
					</div>
				</section>



			<section class="container slider">
					<div class="headSlider">
						<div class="headText">
								<h2>400 Thunder</h2>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="cards breaks-6-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
						<div class="card-slider c4-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>										
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>										
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
											
										</a>
										<div class="progress">
											<div class="progress-bar"></div>
										</div>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
								<div class="card swiper-slide">
									<div class="img">
										<a href="/on-demand.html" onclick='link(event);' data-router>
											<img class="b-lazy"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
												data-src="/includes/images/toppicks.jpg" alt="sample poster"
											>
										</a>
									</div>
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Racing Tournaments 2018</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>140mins</dd>
											</dl>
										</div>	
									</div>
								</div>
							</div>
							<div class="previous c4-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next c4-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination c4-pagination"></div>
							</div>
						</div>
					</div>
				</section>

				<section class="container slider">
						<div class="headSlider">
							<div class="headText">
									<h2>Gymnastics</h2>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="cards breaks-6-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
							<div class="card-slider c5-slider">
								<div class="swiper-wrapper">
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
											</a>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>										
										</div>
									</div>
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
											</a>
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>										
										</div>
									</div>
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
											</a>
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>	
										</div>
									</div>
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
											</a>
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>	
										</div>
									</div>
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
												
											</a>
											<div class="progress">
												<div class="progress-bar"></div>
											</div>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>	
										</div>
									</div>
									<div class="card swiper-slide">
										<div class="img">
											<a href="/on-demand.html" onclick='link(event);' data-router>
												<img class="b-lazy"
													src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
													data-src="/includes/images/toppicks.jpg" alt="sample poster"
												>
											</a>
										</div>
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Racing Tournaments 2018</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>140mins</dd>
												</dl>
											</div>	
										</div>
									</div>
								</div>
								<div class="previous c5-prev">
									<i class="fal fa-angle-left"></i>
								</div>
								<div class="next c5-next">
									<i class="fal fa-angle-right"></i>
								</div>
								<div class="card-pagination">
									<div class="pagination c5-pagination"></div>
								</div>
							</div>
						</div>
					</section>

{% endblock %}