{% extends 'template/main.twig' %}

{% block content %}


		
		<section class="channel-feature feature-panel"><!--
			--><div class="brand-container">
					<div class="img">
						<a onclick='link(event);' href="/event-live.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/hires/ch1.jpg" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-1 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
		--></section>		

		<!----- Content ---->
		<section class="container slider">
			<h2>Latest</h2>
			<div class="cards breaks-5-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
				<div class="card-slider latest-slider">
					<div class="swiper-wrapper">
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
									
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
					</div>
					<div class="previous latest-prev">
						<i class="fal fa-angle-left"></i>
					</div>
					<div class="next latest-next">
						<i class="fal fa-angle-right"></i>
					</div>
					<div class="card-pagination">
						<div class="pagination latest-pagination"></div>
					</div>
				</div>
			</div>
		</section>

		<!----- Content ---->
		<section class="container slider">
			<h2>Catch Up</h2>
			<div class="cards breaks-5-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
				<div class="card-slider catchup-slider">
					<div class="swiper-wrapper">
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
									
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
					</div>
					<div class="previous latest-prev">
						<i class="fal fa-angle-left"></i>
					</div>
					<div class="next latest-next">
						<i class="fal fa-angle-right"></i>
					</div>
					<div class="card-pagination">
						<div class="pagination latest-pagination"></div>
					</div>
				</div>
			</div>
		</section>

		<!----- Content ---->
		<section class="container slider">
			<h2>Highlights</h2>
			<div class="cards breaks-5-4-3-2 offset-navigation img-margin-5 info-margin-5 no-overflow sixteenByNine">
				<div class="card-slider highlights-slider">
					<div class="swiper-wrapper">
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>										
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
									
								</a>
								<div class="label">12 Mar</div>
								<div class="progress">
									<div class="progress-bar"></div>
								</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
						<div class="card swiper-slide">
							<div class="img">
								<a onclick='link(event);' href="/event-live.html" data-router>
									<img class="b-lazy"
										src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
										data-src="/includes/images/latest-1.png" alt="sample poster"
									>
								</a>
								<div class="label">12 Mar</div>
							</div>
							<div class="info">
								<div class="subtitle">Gymnastics</div>
								<div class="title lines-2">2018 World Cup Gymnastics Melbourne</div>
								<div class="meta">
									<dl>          
									    <dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
									    <dd>140 mins</dd>
									</dl>
								</div>	
							</div>
						</div>
					</div>
					<div class="previous latest-prev">
						<i class="fal fa-angle-left"></i>
					</div>
					<div class="next latest-next">
						<i class="fal fa-angle-right"></i>
					</div>
					<div class="card-pagination">
						<div class="pagination latest-pagination"></div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}