{% extends 'template/main.twig' %}

{% block content %}


		
		<!----- CHANNELS PANEL ---->
	<div class="channel-list " >
		<section class="channel-feature feature-panel"><!--
			--><div class="brand-container">
					<div class="img">
						<a onclick='link(event);' href="/channel.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/hires/ch1.jpg" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-1 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
										
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
		--></section>

		<section class="channel-feature feature-panel"><!--
			
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-2 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
										
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
			--><div class="brand-container">
					<div class="img">
						<a onclick='link(event);' href="/channel.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/hires/ch2.jpg" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
		--></section>

		<section class="channel-feature feature-panel"><!--
			--><div class="brand-container">
					<div class="img">
						<a onclick='link(event);' href="/channel.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/hires/ch3.jpg" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-3 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
										
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
		--></section>

		<section class="channel-feature feature-panel"><!--
			
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-4 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
										
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
			--><div class="brand-container">
					<div class="img">
						<a  onclick='link(event);' href="/channel.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box4.png" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
		--></section>

		<section class="channel-feature feature-panel"><!--
			--><div class="brand-container">
					<div class="img">
						<a onclick='link(event);' href="/channel.html" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/hires/ch5.jpg" alt="sample poster"
							>
						</a>
					</div>
			</div><!--
			--><div class="feature-container ">
				<div class="cards sixteenByNine info-overlay">
						<div class="feature-slider sld-5 card-slider">
							<div class="swiper-wrapper">
								<div class="card swiper-slide sixteenByNine ">
									<div class="img">
										<img src="/includes/images/ban-1.jpg" alt="poster">
										
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<div class="card swiper-slide sixteenByNine">
									<div class="img">
										<img src="/includes/images/ban-2.jpg" alt="poster">
									</div>
									<div class="label label-left">Featured</div>
									<div class="info">
										<div class="title">Sed vulputate mi sit amet</div>
										<div class="action">
											<a id="play-video2">Watch Video <i class="fal fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="previous feature-prev">
								<i class="fal fa-angle-left"></i>
							</div>
							<div class="next feature-next">
								<i class="fal fa-angle-right"></i>
							</div>
							<div class="card-pagination">
								<div class="pagination feature-pagination"></div>
							</div>
						</div>
					</div>
			</div><!--
		--></section>
	</div>




		<section class="container" style="display: none;">
			<h2>Channels</h2>
			<div class="cards breaks-5-4-3-2 offset-navigation img-margin-0 no-overflow square min-height"><!--
				--><div class="card ">
					<div class="img">
						<a href="/#" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box1.png" alt="sample poster"
							>
						</a>
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/#" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box2.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/#" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box3.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/#" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box4.png" alt="sample poster"
							>
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
				</div><!--
				--><div class="card ">
					<div class="img">
						<a href="/#" data-router>
							<img class="b-lazy"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-src="/includes/images/channels/box5.png" alt="sample poster"
							>
							
						</a>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
					</div>
				</div><!--
			--></div>
		</section>		
		
		<!----- END SHOW PANEL ----->

{% endblock %}