{% extends 'template/main.twig' %}

{% block content %}


		
				<section class="container mediumBlue">
			<div class="eventbox ">
				<h2>Events</h2>
				<ul class="event-list">
					<li>
						<time datetime="2014-07-20">
							<span class="day">4</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						<img src="/includes/images/event.png">
						<div class="info">
							<h2 class="title">Water Polo</h2>
							<ul class="desc">
								<li>Sydney, Australia</li>
								<li>10:00 AM - 3:00 PM</li>
							</ul>
						</div>
						<div class="reminder">
							<a href="#"><i class="fas fa-bell"></i></a>
						</div>
					</li>
					<li>
						<time datetime="2014-07-20">
							<span class="day">13</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						<img src="/includes/images/event-car.png">
						<div class="info">
							<h2 class="title">Thunder Sport</h2>
							<ul class="desc">
								<li>Sydney, Australia</li>
								<li>10:00 AM - 3:00 PM</li>
							</ul>
						</div>
						<div class="reminder">
							<a href="#"><i class="fas fa-bell"></i></a>
						</div>
					</li>
					<li>
						<time datetime="2014-07-20">
							<span class="day">21</span>
							<span class="month">Jul</span>
							<span class="year">2014</span>
							<span class="time">ALL DAY</span>
						</time>
						<img src="/includes/images/event.png">
						<div class="info">
							<h2 class="title">Water Polo</h2>
							<ul class="desc">
								<li>Sydney, Australia</li>
								<li>10:00 AM - 3:00 PM</li>
							</ul>
						</div>
						<div class="reminder">
							<a href="#"><i class="fas fa-bell"></i></a>
						</div>
					</li>
				</ul>
			</div>
		</section>

{% endblock %}