{% extends 'template/main.twig' %}

{% block content %}


		
		<section class="container slider">
			<div class="latestbox card-container">
				<h2>Latest</h2>
				<div class="cards sixteenByNine breaks-4-3-2-1  img-margin-5 info-margin-5">
					<div class="rows"><!--

						--><div class="card">
							<a href="/on-demand.html" class="laLink">
								<div class="img">
									<img src="/includes/images/400-thunder-category.jpg" alt="">
									<div class="cat-logo">
										<img src="/includes/images/racing.png">
									</div>
								</div>

								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
									<div class="meta">
										<dl>          
											<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
											<dd>9am - 3pm</dd>
										</dl>
									</div>										
								</div>
							</a>
						</div><!--

						--><div class="card">
							<a href="/on-demand.html" class="laLink">
								<div class="img">
									<img src="/includes/images/400-thunder-category.jpg" alt="">
									<div class="cat-logo">
										<img src="/includes/images/racing.png">
									</div>
								</div>

								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
									<div class="meta">
										<dl>          
											<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
											<dd>9am - 3pm</dd>
										</dl>
									</div>										
								</div>
							</a>
						</div><!--

						--><div class="card">
							<a href="/on-demand.html" class="laLink">
								<div class="img">
									<img src="/includes/images/400-thunder-category.jpg" alt="">
									<div class="cat-logo">
										<img src="/includes/images/racing.png">
									</div>
								</div>

								<div class="info">
									<div class="subtitle">400 Thunder</div>
									<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
									<div class="meta">
										<dl>          
											<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
											<dd>9am - 3pm</dd>
										</dl>
									</div>										
								</div>
							</a>
						</div><!--
						--><div class="card">
								<a href="/on-demand.html" class="laLink">
									<div class="img">
										<img src="/includes/images/400-thunder-category.jpg" alt="">
										<div class="cat-logo">
											<img src="/includes/images/racing.png">
										</div>
									</div>
	
									<div class="info">
										<div class="subtitle">400 Thunder</div>
										<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
										<div class="meta">
											<dl>          
												<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
												<dd>9am - 3pm</dd>
											</dl>
										</div>										
									</div>
								</a>
							</div><!--
							--><div class="card">
										<a href="/on-demand.html" class="laLink">
											<div class="img">
												<img src="/includes/images/400-thunder-category.jpg" alt="">
												<div class="cat-logo">
													<img src="/includes/images/racing.png">
												</div>
											</div>
			
											<div class="info">
												<div class="subtitle">400 Thunder</div>
												<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
												<div class="meta">
													<dl>          
														<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
														<dd>9am - 3pm</dd>
													</dl>
												</div>										
											</div>
										</a>
							</div><!--
							--><div class="card">
									<a href="/on-demand.html" class="laLink">
										<div class="img">
											<img src="/includes/images/400-thunder-category.jpg" alt="">
											<div class="cat-logo">
												<img src="/includes/images/racing.png">
											</div>
										</div>
		
										<div class="info">
											<div class="subtitle">400 Thunder</div>
											<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
											<div class="meta">
												<dl>          
													<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
													<dd>9am - 3pm</dd>
												</dl>
											</div>										
										</div>
									</a>
								</div><!--
								--><div class="card">
										<a href="/on-demand.html" class="laLink">
											<div class="img">
												<img src="/includes/images/400-thunder-category.jpg" alt="">
												<div class="cat-logo">
													<img src="/includes/images/racing.png">
												</div>
											</div>
			
											<div class="info">
												<div class="subtitle">400 Thunder</div>
												<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
												<div class="meta">
													<dl>          
														<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
														<dd>9am - 3pm</dd>
													</dl>
												</div>										
											</div>
										</a>
									</div><!--
									--><div class="card">
											<a href="/on-demand.html" class="laLink">
												<div class="img">
													<img src="/includes/images/400-thunder-category.jpg" alt="">
													<div class="cat-logo">
														<img src="/includes/images/racing.png">
													</div>
												</div>
				
												<div class="info">
													<div class="subtitle">400 Thunder</div>
													<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
													<div class="meta">
														<dl>          
															<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
															<dd>9am - 3pm</dd>
														</dl>
													</div>										
												</div>
											</a>
									</div><!--
									--><div class="card">
										<a href="/on-demand.html" class="laLink">
											<div class="img">
												<img src="/includes/images/400-thunder-category.jpg" alt="">
												<div class="cat-logo">
													<img src="/includes/images/racing.png">
												</div>
											</div>
			
											<div class="info">
												<div class="subtitle">400 Thunder</div>
												<div class="title lines-2">Sed vulputate mi sit amet mauris commodo quis imperdiet massa</div>
												<div class="meta">
													<dl>          
														<dt><i class="fa fa-clock" aria-hidden="true"></i></dt>
														<dd>9am - 3pm</dd>
													</dl>
												</div>										
											</div>
										</a>
									</div><!--
									-->


									<nav class="blog-pagination">
										<a class="bt bt-outline-primary" href="#">Older</a>
										<a class="bt bt-outline-secondary disabled" href="#">Newer</a>
									</nav>
					</div>
				</div>
			</div>
		</section>

{% endblock %}